<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" >
        <label for="">Nom</label>
        <input type="text" name="" id="" placeholder="Entrez le nom">
        <br> <br>
        <label for="">Prenom</label>
        <input type="text" name="" id="" placeholder="Entrez le prenom">
        <br><br>
        <label for="">Age</label>
        <input type="number" name="" id="" placeholder="adresse mail">
        <br><br>
        <label for="">Comment trouvez notre site</label>
        <br>
        <input type="radio" name="" id=""><label for="">Pas très bon</label> 
        <br>
        <input type="radio" name="" id=""><label for="">Pas trop mal</label> 
        <br>
        <input type="radio" name="" id=""><label for="">Sympa</label> 
        <br>
        <input type="radio" name="" id=""><label for="">J'aimé</label>
        <br> 
        <input type="radio" name="" id=""><label for="">Géniale</label> 
        <br>
        <label for="">Qu'avez-vous aimez  </label><br>
        <input type="checkbox" name="" id="" placeholder=""><label for="">CV</label>
        <br>
        <input type="checkbox" name="" id="" placeholder=""><label for="">Contenue</label>
        <br>
        <input type="checkbox" name="" id="" placeholder=""><label for="">Disposition</label>
        <br>
        <input type="checkbox" name="" id="" placeholder=""><label for="">Conception</label>
        <br>
            <textarea name="" id="" placeholder="Commentaire" cols="30" rows="10"></textarea>
        <br>
        <input  type="submit" name="" id="" value="Envoyez">
        <input type="reset" name="" id="" value="Annuler">
    </form>
</body>
</html>